body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #EBF2F1;
}

/* Global */
a{
    text-decoration: none;
    color: #00ADB5;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;   
}

/* Header */
header{
    background: #025E73;    
    color: #EBF2F1;
    padding-top: 30px;
    min-height: 70px;
    
}

header a{
    color: #EBF2F1;
    font-size: 16px; 
}

header ul{
    margin: 0;
    padding: 0;
}

header li{    
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo-area{
    float: left;

}

header #logo-area h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: aliceblue;
    font-weight: bold;
}

/* User registration form */
.user-box{
    width: 350px;
    height: 450px;
    background: #025E73;
    color: #ffffff;    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;

}

.user-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;    
}

.user-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;    
}

.user-box input{
    width: 100%;
    margin-bottom: 20px;    
}

.user-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.user-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #25aadf;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
}

.user-box input[type="submit"]:hover{
    cursor: pointer;
    background: #6099A6;
    color: #00010D;
}

.user-box a{
    font-size: 14px;
    color: #fff;
    font-style: italic;
    
}

#boxes{
    margin-top: 30px;
    
}



#boxes .box1{
    float: left;   
    padding: 10px;
    border: 2px solid #BDD3DE;
    border-radius: 10px; 
    text-align: center;

    }

.box1 h3{
    color: #025E73;
}


#boxes .box2{
    float: right;
    width: 60%;    
    padding: 10px;
    font-size: 16px;       
}

.box2 h3{
    color: #025E73;
}


.questions{
    border-top: 1px solid #BDD3DE;
    
}

.textarea1{
    
    border: 2px solid #BDD3DE;
    border-radius: 5px;
    background: transparent;
    outline: none;
    height: 60px;
    width: 80%;
    color: #025E73;
    font-size: 16px;
}

.my-questions button{
    border: none;
    outline: none;
    height: 40px;
    background: #25aadf;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
}

.questions img{
    width: 24px;
    height: 24px;
}

#downvote{
    width: 80%;
    float: right;
   
}





/* Media Queries */
@media(max-width: 768px){
    #boxes, header #logo-area, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;

    }

    header{
        padding-bottom: 30px;
    }
    
  
}
