<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | admin</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo-area">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="create.html">Create New Meetup</a></li>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="boxes">
                <div class="container">
                    <div class="box1">
                        <h3>Logged in as <a href="">admin</a></h3>
                        <a href=""><img class="profile-pic" src="../images/profile"></a>
                        <h3>Personal Details :  <a href=""> Edit Profile </a></h3>
                        <h4>Username: admin</h4>
                        <h4>Email Address: admin@questioner.com</h4>
                        <h3>My Meetups : (6)  <a href="">View all</a></h3>                                              
                    </div>

                    <div class="box2">
                        <div class="container">
                            <h3>Data Science meetup, Nairobi <input type="button" value="delete"></h3>
                            <div class="questions">
                                <p><a href="#">(20) participants</a></p>
                                <p>Meetup to discuss new trends in Data Science <span>Created 5 ago by <a href="">you</a></span></p>                        
                            </div>
                            
                            <h3>Data Science meetup, Nairobi <input type="button" value="delete"></h3>
                            <div class="questions">
                                <p><a href="#">(20) participants</a></p>
                                <p>Meetup to discuss new trends in Data Science <span>Created 5 ago by <a href="">you</a></span></p>                        
                            </div>
                        </div>
                    </div>                         
        
                </div>
        </section>