<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | create</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo-area">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>                        
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="boxes">
            <div class="container">
                <div class="box2">
                <h3>Create new meetup</h3>
                 <form action="">
                     <ul>
                         <li>Meetup name: <input type="text" placeholder="Enter meetup name"></li>
                         <li>Meetup Date: <input type="date" ></li>
                         <li>Meetup venue: <input type="text" placeholder="Enter meetup venue"></li>
                         <li><a href="">Upload meetup photo</a></li>
                         <input type="button" value="submit">
                     </ul>
                 </form>
                </div>   
            </div>

        </section>