<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | Sign in</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo-area">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="admin.html">Home</a></li>
                        <li><a href="signin.html">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section>
            <div class="user-box">
                <h1>Sign in here</h1>
                    <form>
                        <p>Your username</p>
                        <input type="text" name="name" placeholder="">                        
                        <p>Password</p>
                        <input type="password" name="password" placeholder="">
                        <input type="submit" name="submit" value="Sign in">
                        <a href="login.html">Forgot Your Password?</a><br>
                        <a href="register.html">Not registered with us yet? Sign up</a>                                          
                    </form>
            </div>
        </section>
    </body>
</html>