<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | Meetup</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo-area">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="meetup">
                    <h3></p>Data science Meetup</h3>
                    <img src="../images/meet2.jpeg">
                    <div class="details">
                        <p>Hosted by: <a href="#">Christopher and Adams</a></p>
                        <p>From: <a href="#">Data Camp group</a></p>
                        <p>Date: Sunday 25th Jul 2018, 1AM</p>    
                        <p>Informal Meet Up. 8 vs 8, no subs. No Permit. Be warned...</p>
                        <p>Intrested? <a href="www.google.com"><b>Find out more</b></a></p>
                    </div>                                
                </div>
            </div>
        </section>


    </body>
</html>