<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | Meetup</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo-area">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="boxes">
            <div class="container">
                <div class="box1">
                    <h3>Data science Meetup, Nairobi</h3>
                    <img src="../images/meet3.jpeg">
                    <p>Hosted by: <a href="#">Christopher and Adams</a></p>
                    <p>From: <a href="#">Data Camp group</a></p>
                    <p>Date: Sunday 25th Jul 2018, 1AM</p>    
                    <p>Informal Meet Up. 8 vs 8, no subs. No Permit. Be warned...</p>
                    <p><a href="www.google.com">Find out more</a></p>
                </div>
                <div class="box2">
                    <h3>Meetup Questions(21)</h3>
                    <div class="questions">
                        <p><a href="#">Best tutorials to for data visualisation</a></p>
                        <p>Which would be the best tutorial for data visualisation? <span>Posted 2 hours ago by <a href="">James</a></span></p>
                        <span id="upvote"><a href=""><img src="../images/up.png.png" alt=""> (34)</a></span>
                        <input type="submit" value="comment">
                        <div id="new-comment">
                            <form>
                                <textarea placeholder="Enter your comment"></textarea>
                                <input type="submit" value="comment" />
                            </form>
                        </div>  
                        <span id="downvote"><a href=""><img src="../images/down.png" alt=""> (12)</a></span>                        
                    </div>
                    
                    
                    <div class="questions">
                        <p><a href="#">Speech processing APIs</a></p>
                        <p>Which python libraries to use? <span>Posted 2 hours ago by <a href="">Christopher</a></span></p>
                        <span id="upvote"><a href=""><img src="../images/up.png.png" alt=""> (46)</a></span>                        
                        <input type="submit" value="comment">
                        <div id="new-comment">
                            <form>
                                <textarea placeholder="Enter your comment"></textarea>
                                <input type="submit" value="comment" />
                            </form>
                        </div>  
                        <span id="downvote"><a href=""><img src="../images/down.png" alt=""> (19)</a></span>    
                    </div>
                    <div class="questions">
                        <p><a href="#">Data Science use case in retail</a></p>
                        <p>What are top ten data science use cases in retail? <span>Posted 2 hours ago by <a href="">Adams</a></span></p>
                        <span id="upvote"><a href=""><img src="../images/up.png.png" alt=""> (14)</a></span>
                        <input type="submit" value="comment">
                        <div id="new-comment">
                            <form>
                                <textarea placeholder="Enter your comment"></textarea>
                                <input type="submit" value="comment" />
                            </form>
                        </div>  
                        <span id="downvote"><a href=""><img src="../images/down.png" alt=""> (2)</a></span>
                    </div>
                    <div class="my-questions">
                        <form action="#">
                            <textarea class="textarea1" type="comment" placeholder="Add your question here"></textarea>
                            <p><button type="submit" class="button1">Post</button></p>                            
                        </form>
                    </div>                    
                </div>                           
            </div>
        </section>
    </body>
</html>