<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | Meetup</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo-area">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="boxes">
            <div class="container">
                <div class="box1">
                    <h3>Logged in as <a href="">yunismohamed1</a></h3>
                    <a href=""><img src="../images/profile"></a>
                    <h3>Personal Details :  <a href=""> Edit Profile </a></h3>
                    <h4>Username: Yunis Mohamed</h4>
                    <h4>Email Address: yunismohamed@gmail.com</h4>
                    <h3>My Questions : (26)  <a href="">View all</a></h3>
                    <h3>My Comments : (87)  <a href="">View all</a></h3>                    
                                        
                </div>
    </body>
</html>

                