<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Questioner | Register</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <h1>Questioner</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="admin.html">Create a new meetup</a></li>
                        <li><a href="signin.html">Sign in</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section>
            <div class="register-box">
                <h1>Sign up here</h1>
                    <form>
                        <p>Your name</p>
                        <input type="text" name="name" placeholder="Enter your name">
                        <p>Email address</p>
                        <input type="text" name="email" placeholder="Enter your email address">
                        <p>Password</p>
                        <input type="text" name="password" placeholder="Enter your password">
                        <input type="submit" name="submit" value="Register">
                        

                    </form>
            </div>
        </section>
    </body>
</html>